In [1]:
# Useful for normalizing/scaling across the length of CDS instead of gene length (a la RPKM).

In [2]:
import pandas as pd
import numpy as np
import os
import glob

In [3]:
input_bed = '/projects/ps-yeolab3/bay001/annotations/hg19/gencode_v19/hg19_v19_cds.bed'
output_lengths = '/home/bay001/projects/kris_apobec_20200121/permanent_data/final_analysis/01_SAILOR_bulk_rnaseq/outputs/hg19_v19_cds_lengths.txt'

In [4]:
cds = pd.read_csv(input_bed, sep='\t', names=['chrom','start','end','name','score','strand'])
cds.head()

  chrom   start     end               name  score strand
0  chr1   69090   70005  ENSG00000186092.4      0      +
1  chr1  138532  139309  ENSG00000237683.5      0      -
2  chr1  367658  368594  ENSG00000235249.1      0      +
3  chr1  621098  622034  ENSG00000185097.2      0      -
4  chr1  738531  738618  ENSG00000269831.1      0      -

In [5]:
cds['length'] = cds['end'] - cds['start']
cds.head(20)

   chrom   start     end               name  score strand  length
0   chr1   69090   70005  ENSG00000186092.4      0      +     915
1   chr1  138532  139309  ENSG00000237683.5      0      -     777
2   chr1  367658  368594  ENSG00000235249.1      0      +     936
3   chr1  621098  622034  ENSG00000185097.2      0      -     936
4   chr1  738531  738618  ENSG00000269831.1      0      -      87
5   chr1  738787  738812  ENSG00000269831.1      0      -      25
6   chr1  739120  739137  ENSG00000269831.1      0      -      17
7   chr1  818042  818058  ENSG00000269308.1      0      +      16
8   chr1  819495  819513  ENSG00000269308.1      0      +      18
9   chr1  819960  819980  ENSG00000269308.1      0      +      20
10  chr1  861263  861406  ENSG00000268179.1      0      -     143
11  chr1  861321  861393  ENSG00000187634.6      0      +      72
12  chr1  863254  863261  ENSG00000268179.1      0      -       7
13  chr1  865534  865716  ENSG00000187634.6      0      +     182
14  chr1  865555  865660  ENSG00000268179.1      0      -     105
15  chr1  865665  865719  ENSG00000268179.1      0      -      54
16  chr1  865989  865996  ENSG00000268179.1      0      -       7
17  chr1  866418  866469  ENSG00000187634.6      0      +      51
18  chr1  866425  866445  ENSG00000268179.1      0      -      20
19  chr1  871151  871276  ENSG00000187634.6      0      +     125

In [6]:
tot_cds_length = pd.DataFrame(cds.groupby('name')['length'].sum())
tot_cds_length.head()

                    length
name
ENSG00000000003.10     735
ENSG00000000005.5      951
ENSG00000000419.8      885
ENSG00000000457.9     2226
ENSG00000000460.12    2755

In [7]:
tot_cds_length.to_csv(output_lengths, sep='\t', index=True, header=True)